fastapi[standard]
uvicorn
authlib
auth0-fastapi-api
langchain-google-genai
tortoise-orm
aiosqlite
fastadmin[fastapi,tortoise-orm]
fastapi-admin 
starlette-admin[tortoise]
aiosmtplib
gunicorn
aerich
asyncpg
python-dotenv
python-dotenv
pydantic-settings