fastapi[standard]
uvicorn
authlib
auth0-fastapi-api
langchain-google-genai
tortoise-orm
aiosqlite
fastadmin[fastapi,tortoise-orm]
fastapi-admin 
aioredis
redis
starlette-admin[tortoise]
aiosmtplib
tornadmin
gunicorn
aerich
asyncpg